##frontend================================
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

##backend===================================
backend/.metadata/*
backend/library_management/src/main/resources/application.properties
backend/Servers/*
backend/library_management/git

HELP.md
backend/target/
!backend/library_management/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
backend/library_management/.apt_generated
backend/library_management/.classpath
backend/library_management/.factorypath
backend/library_management/.project
backend/library_management/.settings
backend/library_management/.springBeans
backend/library_management/.sts4-cache

### IntelliJ IDEA ###
backend/library_management/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
backend/library_management/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
backend/.vscode/
