##frontend================================
# dependencies
frontend/library_management/node_modules
frontend/library_management/.pnp
frontend/library_management/.pnp.js

# testing
frontend/library_management/coverage

# production
frontend/library_management/build

# misc
frontend/library_management/.DS_Store
frontend/library_management/.env.local
frontend/library_management/.env.development.local
frontend/library_management/.env.test.local
frontend/library_management/.env.production.local
frontend/library_management/npm-debug.log*
frontend/library_management/yarn-debug.log*
frontend/library_management/yarn-error.log*

##backend===================================
backend/.metadata/*
backend/library_management/src/main/resources/application.properties
backend/library_management/src/main/resources/gcp-key.json
backend/Servers/*
backend/library_management/git

HELP.md
backend/target/
!backend/library_management/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
backend/library_management/.apt_generated
backend/library_management/.classpath
backend/library_management/.factorypath
backend/library_management/.project
backend/library_management/.settings
backend/library_management/.springBeans
backend/library_management/.sts4-cache

### IntelliJ IDEA ###
backend/library_management/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
backend/library_management/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
backend/.vscode/
